<p>Xin chào, {{userName}}!</p>
<p>Bạn vừa đăng nhập lần đầu vào trang VIBLO. Chúng tôi đã đăng ký tài khoản cho
 bạn. Bạn có thể vào chỉnh sửa thông tin cá nhân
 <a href={{urlProfile}} target='_blank'>tại đây</a></p>
<p>VBLO Trân trọng</p>